{% extends 'base.html.twig' %}

{% block title %}Portfolio - Compétences{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('skill') }}
{% endblock %}

{% block body %}

 {% for skill in skills %}    
<div class="card card-custum ">

    <h2>{{skill.name}}</h2>
    <div class="card-body row">
       <img src="{{ asset("build/images/" ~ skill.image ) }}" alt="php logo" class="logo col-6">
       <p class="col-6"> {{skill.text}}</p>
    </div>
</div> 
{% endfor %}
    

{% endblock %}


    
     
